#home{
    width:100%;
}

.welcome{
    text-align: center
}

.subz_item {
    margin: 2% 0 0 0;
    background-color:  #cccccc;
    border-radius: 2%;
    padding: 2%;

}

.subz_item:hover {
    background-color:#ffff;
    cursor: pointer;
}